.edit-btn,
.delete-btn,
.save-btn,
.cancel-btn,
.add-btn {
    background-color: var(--hover-color);
    color: var(--main-font-color);
    border: none;
    border-radius: 5px;
    padding: 1vh 1vw;
    font-family: var(--main-font-family);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin: 0.2rem;
}

.delete-btn,
.cancel-btn {
    background-color: var(--delete-button-color);
}

.save-btn {
    background-color: var(--save-button-color);
}

.add-btn {
    width: fit-content;
    margin: 1rem auto;
}

.save-btn:hover {
    background-color: #307254;
}

.edit-btn:hover,
.add-btn:hover {
    background-color: #f59958;
}

.delete-btn:hover,
.cancel-btn:hover {
    background-color: #be2f24;
}

button:disabled,
button:hover:disabled,
.add-btn.disabled {
    background-color: grey;
    cursor: auto;
}

@media screen and (max-width: 1280px) {

    .edit-btn,
    .delete-btn,
    .save-btn,
    .cancel-btn,
    .add-btn {
        padding: 0.5vh 0.5vh;
    }
}

@media screen and (max-width: 414px) {

    .edit-btn,
    .delete-btn,
    .save-btn,
    .cancel-btn,
    .add-btn {
        padding: 0.5vh 0.5vw;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 330px) {
    .add-btn {
        width: 50px;
        padding: 0.1vh;
        font-size: 0.6rem;
    }
}