.card-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

.container {
    margin: 0 auto;
}

.card__item {
    width: 17.5rem;
    flex-shrink: 1;
    border: 1px solid var(--main-font-color);
    border-radius: 30px;
    margin: 5px auto;
    background-color: var(--secondary-color);
    padding-bottom: 20px;
    font-family: inherit;
}

.card__english,
.card__russian {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 4.5px;
}

.card__transcription {
    font-size: 1.5rem;
}

.card__translate {
    max-width: 280px;
    height: 2rem;
}

.card__russian {
    color: var(--main-button-color);
    font-weight: 500;
}

.card__btn {
    background-color: var(--main-button-color);
    color: var(--secondary-color);
    font-family: inherit;
    font-size: 1rem;
    border-radius: 5px;
    padding: 1vh 1.5vw;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    .card__btn {
        font-size: 0.8rem;
        padding: 1vh 2vw;
    }
}