.gallery_wrap {
    margin: auto auto;
    transform: scale(130%);
}

.gallery_wrap h1 {
    font-size: 3rem;
}

.gallery {
    max-width: 32rem;
    margin: auto auto;
}

.slider {
    display: flex;
    align-items: center;
}

.slider__button {
    width: 1.875rem;
    margin: 20px;
}

.slider__button img {
    width: 1.875rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.slider__button_right {
    rotate: 180deg;
}

.slider__button img:hover {
    transform: scale(1.25);
    transition: 0.5s ease-in-out;
}

.slider__count {
    padding: 7px;
    margin-top: 50px;
}

@media screen and (max-height: 800px) {
    .gallery_wrap {
        transform: scale(100%);
    }

    .gallery_wrap h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .gallery_wrap {
        transform: scale(100%);
    }

}

@media screen and (max-width: 425px) {
    .slider__button {
        margin: 8px;
    }

    .gallery_wrap h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 358px) {
    .gallery {
        max-width: 18rem;
    }
}