.header {
    width: 100%;
    background-color: var(--main-background-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.header__menu ul {
    margin-right: 10px;
}

.header__menu li {
    list-style-type: none;
    display: inline-flex;
    padding-right: 2vw;
    font-size: 1.5rem;
    vertical-align: middle;
}

.header__menu li:hover {
    color: var(--hover-color);
}

.header__menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    color: var(--hover-color) !important;
}

.header__logo {
    width: 5rem;
    padding: 1vw 0 1vw 2vw;
}

@media screen and (max-width: 767px) {

    .header__menu li {
        font-size: 1rem;
    }

    .header__logo {
        width: 3rem;
    }
}

@media screen and (max-width: 450px) {
    .header__menu li {
        font-size: 0.8rem;
    }

    .header__menu ul {
        padding-left: 3px;
    }

    .header__logo {
        width: 2.5rem;
        padding: 1vw 0 1vw 1vw;
    }
}