.nomatch-container {
    margin: auto;
}

.nomatch-container .card__english {
    font-size: 3rem;
    margin: 20px auto;
}

.nomatch-container .card__item {
    transform: scale(130%);
    height: 13rem;
}

@media screen and (max-width: 282px) {
    .nomatch-container .card__item {
        width: 15rem;
    }
}

@media screen and (max-width: 450px) {
    .nomatch-container .card__item {
        transform: scale(100%);
    }
}