.table-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    margin: 0 auto;
}

caption {
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
}

thead th {
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    padding: 3vh 3vw;
    border: 1px solid var(--main-font-color);
}

tr:nth-child(even) {
    background-color: var(--secondary-color);
}

tbody tr:nth-child(odd) {
    background-color: var(--disable-button-color);
}

table {
    border: 1px solid var(--main-font-color);
    border-collapse: collapse;
}

td {
    width: 220px;
    border: 1px solid var(--main-font-color);
    padding: 1vh 2vh;
}

td input {
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    caret-color: var(--aux-color);
    border-radius: 5px;
    box-shadow: 6px 6px 29px 0px rgba(0, 0, 0, 0.06);
    border: none;
}

input:hover,
input:focus {
    outline: 1px solid var(--hover-color);
}

.error {
    outline: 1px solid var(--delete-button-color);
}

.errorMsg {
    font-size: 0.8rem;
    color: var(--secondary-color);
}

.add-btn {
    width: fit-content;
    background-color: var(--hover-color);
    color: var(--main-font-color);
    border: none;
    border-radius: 5px;
    padding: 1vh 1vw;
    font-family: var(--main-font-family);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin: 1rem auto;

}

@media screen and (max-width: 1280px) {
    caption {
        font-size: 1.25rem;
        font-weight: 700;
        padding: 1rem;
    }

    thead th {
        font-size: 1.25rem;
        padding: 1vh 1vh;
    }

    td {
        width: 135px;
        padding: 0.5rem 0.5vh;
    }

    td input {
        max-width: 100px;
        padding: 0.3rem;
    }
}

@media screen and (max-width: 767px) {

    td:nth-child(2n),
    th:nth-child(2n) {
        display: none;
    }
}

@media screen and (max-width: 414px) {
    thead th {
        font-size: 1rem;
        padding: 1vh 0.1vh;
    }

    td {
        width: 110px;
        font-size: 0.7rem;
        padding: 0.2rem 0px;
    }

    td input {
        max-width: 70px;
        padding: 0.2rem;
    }
}